.body{

  text-align: center;
  font-family: 'Merriweather',serif;


}
.profile-img{
  border-radius: 100%;
  height: 200px;
  width: 200px;
}
.centered{
position: absolute;
top: 10%;
left:35%;

}
}
.intro{
  width: 50%;
  margin: auto;

}

.skill{
  border-radius: 10%;
  height: 280px;
  width: 180px;
  margin: 100px auto 200px 300px;

}
.skill-1{
  border-radius: 10%;
  height: 180px;
  width: 180px;
}
.skill-2{
  border-radius: 10%;
  height: 180px;
  width: 180px;
  margin-left: 70%;
}

.skill-3{
  border-radius: 10%;
  height: 180px;
  width: 180px;
  margin-top:10%;
  margin-left: 30%;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.top-container{
  margin: 0;
  background-color: #382E69;
}
.top-cloud{
  margin: 0;
  top: 30%;
left: 80%;
  transform: translate(400%,-300%);

}
.bottom-cloud{
  margin: o;
    transform: translate(-400%,20%);
}
.middle-container{
margin-left: 0;
}
.profile-img{
  border-radius: 100%;
  height:200px;
  width: 200px;
  margin: 30px 500px 100px 600px;
}
.p{
  font-size: 1.25rem;
  line-height: 5;

}
.p1{
  margin-left: 15%;
  margin-right: 15%;
  font-size: 1.2rem;
text-align: center;
}
.p2{
  margin-left: 30%;

  font-size: 1.2rem;
}
.p3{
  margin-right: 30%;
  font-size: 1.2rem;
}
.hh{
  margin: 50px auto 2.5rem auto;
  font-family: 'Parisienne', cursive;
  font-size: 2.6875rem;
  color: #EC9D13;
margin-bottom: 10%;

}
.hh1{
  margin: 50px auto 2.5rem auto;
  font-family: 'Yellowtail', cursive;
  font-size: 1.6875rem;
  color: #A67623 ;
margin-left: 19%;

}
.h1{
  margin: 50px auto 2.5rem auto;
  font-family: 'Sacramento',cursive;
  font-size: 4.6875rem;
  color: #56AE1F;
  margin-left: 40%;
  margin-top: -1%;
}
.h2{
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5rem;
  color: #1F8FAE;
  font-weight: bold;
  padding-bottom: 10px;
  margin-left: 40%;
  margin-top: 5%;
}
.h3{
  font-family: 'Montserrat',sans-serif;
  font-size: 1.5rem;
  color: #1F8FAE;
  font-weight: bold;
  padding-bottom: 10px;
  margin-left: 20%;
  margin-top: -25%;
}
.h4{
  font-family: 'Montserrat',sans-serif;
  font-size: 1.5rem;
  color: #1F8FAE;
  font-weight: bold;
  padding-bottom: 10px;
  margin-left: 40%;
  margin-top: -25%;
}
.hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #171919;
  border-width: 5px;
  width: 3%;
  margin: 100px auto;
}
.contect-me{
  wedth:40%;
  margin: 40px auto 60px;
  margin-left: 40%;
  font-size: 1.5rem;
  margin-top: 10%;
}
.contect-mee{
  width: 50%;
  font-size: 1rem;
  margin-left: -13%;
color: #1F8FAE;
}
.contect-message{
  width: 50%;
  font-size: 1.1rem;
  margin-left: -13%;
  margin-top: 4%;
  border-width: 10%;

}
.btn {
	box-shadow: 0px 0px 0px 0px #9fb4f2;
	background-color:#7892c2;
	border-radius:38px;
	border:7px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:22px;
	font-weight:bold;
	font-style:italic;
	padding:15px 13px;
	text-decoration:none;
	text-shadow:0px 1px 44px #283966;
}
.btn:hover {
	background-color:#476e9e;
}
.btn:active {
	position:relative;
	top:1px;
}
.bottem-container{
  background-color: aqua;
  margin: -4%;

}
.footer-link{
  border-radius: 5%;
  height: 50px;
  width: 40px;
  margin-left: 21%;
margin-top: 5%;

}
.copyright{
  margin-left: 35%;

}
